{% macro ok() %}
    {{ '✓'|green }}
{%- endmacro %}
{% macro fail() %}
    {{'✖'|darkred}}
{%-endmacro%}
{{'-------------------------------------------------------------------------------'|purple}}
{{'                    Clouseau, a silly git inspector.                           '|purple}}
{{'-------------------------------------------------------------------------------'|purple}}

{{ "Clouseau found the following:"|darkgreen }}
{# {{ data|green }} #}
{% for term in data %}
{{"Search term"|bold}}:  {{ term|orange_bg }}
    {%- for item in data[term] %}
    {{ '✓'|green }}  {{ data[term][item]['src']|yellow -}}
    {%- for t in data[term][item] -%}{%- if t == 'matched_lines' -%}
    {%- set lines = data[term][item] %}
    {% for line in lines['matched_lines'] %}
      {{ line[1] }}  Line:{{ line[0]|bold -}}
    {% endfor %}   

    {%- endif %}
    {%- endfor %}   
    {{ "_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _"|gray}}
  {%- endfor %}

{{"================================================================================================================================"|gray}}
{%- endfor %}


