{{'Clouseau: a silly git inspector, searching'}} {{ data['meta']['github_url'] }}
{% for term in data if term != 'meta' %}

{%- for item in data[term]  %}
{{ data[term][item]['src'] }}
{{"Search term"}}:  {{ term }}
{{ data['meta']['github_url'] ~ "/commit/" ~ data[term][item]['refspec'] }}
{{ data[term][item]['git_log'][1] }} {{ data[term][item]['git_log'][2] }}
{{ data[term][item]['git_log'][3] }}

{%- for t in data[term][item] -%}{%- if t == 'matched_lines' -%}
{%- set lines = data[term][item] %}
{% for line in lines['matched_lines'] %}
{{ line[1] }}  Line:{{ line[0] -}}
{% endfor %}

{%- endif %}
{%- endfor %}
{{ "_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _"}}
{% else %}
{%- endfor %}
{%- endfor %}

{%- if has_matches %}
{{'-------------------------------------------------------------------------------'}}
{{'      What do you do when you find something that shouldn\'t be there?          '}}
{{'                                                                               '}}
{{'         https://help.github.com/articles/remove-sensitive-data                '}}
{{'-------------------------------------------------------------------------------'}}
{% else %}
No matches found.
{%- endif %}


