
{{'             ------------------------------------------------------------------------------ '|purple}}
{{'            |                    ___ _                                                     |'|purple}}
{{'            |                   / __\ | ___  _   _ ___  ___  __ _ _   _                    |'|purple}}
{{'            |                  / /  | |/ _ \| | | / __|/ _ \/ _` | | | |                   |'|purple}}
{{'            |                 / /___| | (_) | |_| \__ \  __/ (_| | |_| |                   |'|purple}}
{{'            |                 \____/|_|\___/ \__,_|___/\___|\__,_|\__,_|                   |'|purple}}
{{'            |                                                                              |'|purple}}
{{'            |                           A silly git inspector                              |'|purple}}
{{'            |                                                                              |'|purple }}
{{'            `------------------------------------------------------------------------------`'|purple}}

{{ "Clouseau found the following for "|darkgreen }} {{ data['meta']['github_url']|green ~ " :"|darkgreen }}

{{"Hit"}} {{"space"|bold}} {{"to continue and"}} {{"q"|bold}} {{"to quit"}}
{# {{ data|green }} #}
{% for term in data if term != 'meta' %}
{{"Search term"|bold}}:  {{ term|orange_bg }}
    {%- for item in data[term]  %}
    {{ '✓'|green }}  {{ data[term][item]['src']|yellow }}
         {{ data['meta']['github_url']|darkblue ~ "/commit/"|darkblue ~ data[term][item]['refspec']|darkblue }}
         {{ data[term][item]['git_log'][1]|gray }} {{ data[term][item]['git_log'][2]|gray }}
         {{ data[term][item]['git_log'][3]|gray }}

    {%- for t in data[term][item] -%}{%- if t == 'matched_lines' -%}
    {%- set lines = data[term][item] %}
    {% for line in lines['matched_lines'] %}
         {{ line[1] }}  Line:{{ line[0]|bold -}}
    {% endfor %}   

    {%- endif %}
    {%- endfor %}   
    {{ "_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _"|gray}}
  {% else %}
    No match.
  {%- endfor %}

{{"================================================================================================================================"|gray}}
{%- endfor %}



{{'-------------------------------------------------------------------------------'|purple}}
{{'      What do you do when you find something that shouldn\'t be there?          '|purple}}
{{'                                                                               '|purple}}
{{'         https://help.github.com/articles/remove-sensitive-data                '|blue}}
{{'-------------------------------------------------------------------------------'|purple}}


